db.py

*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media

__pycache__
MBTI/__pycache__/
user/__pycache__/
MBTI/modules/
/MBTI/migrations/
user/migrations/
MBTI/secrets.json
mbtienv/

#.idea
/code/log/
