<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
</head>
{% if messages %}  <!-- 이 부분 덕분에 view의 messages.info() 가능 -->
	{% for message in messages %}
        <script>
            alert('{{ message.message }}');
        </script>
	{% endfor %}
{% endif %}
<body>
<h1>Add user</h1>
<div id="content-main">
    <form method="post" id="user_form" > <!-- action="../join_success/"-->
        {% csrf_token %}
        <div>
            <fieldset class="module aligned ">
                ID: <input type="text" name="id" maxlength="25" required> <p>
                PW: <input type="password" name="pw" maxlength="25" required> <p>
                PW check: <input type="password" name="pw2" maxlength="25" required> <p>
                NAME : <input type="text" name="name" maxlength="25" required> <p>
                GENDER : <input type = "radio" name="gender" value="Female" required> Female
                        <input type = "radio" name="gender" value="Male" required> Male
            </fieldset><br>
            <div class="submit-row">
                <input type="submit" value="회원가입" name="_join">
            </div>
        </div>
    </form>
</div>
</body>
</html>