<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> 개인정보 추가 설정 </title>
</head>

<body>
<form action = "/main/ " method = "post"><br>
<br>
<br>
<br>
    <div style="text-align:center">
  <h3> 개인정보 수정 </h3>
    </div>

    <div style="text-align:center; border:1px solid; width : 600px; height : 260px; margin : 0px auto;">
        <br>
        MBTI :
    <select name="mbti" required>
                                <option value="" selected> MBTI </option>
                                <option value="infj">INFJ</option>
                                <option value="enfj">ENFJ</option>
                                <option value="intp">INTP</option>
                                <option value="esfj">ESFJ</option>
                                <option value="enfp">ENFP</option>
                                <option value="istp">ISTP</option>
                                <option value="isfj">ISFJ</option>
                                <option value="esfp">ESFP</option>
                                <option value="entp">ENTP</option>
                                <option value="estj">ESTJ</option>
                                <option value="isfp">ISFP</option>
                                <option value="estp">ESTP</option>
                                <option value="infp">INFP</option>
                                <option value="istj">ISTJ</option>
                                <option value="entj">ENTJ</option>
                                <option value="intj">INTJ</option>
                            </select>

<br>
    * 만약, 자신의 mbti를 모른다면 검사 해보세요 >> <a href=" " /></a><br><br>


    지역 :  <input type = "radio" name = "region" value = "서울"/> 서울 <input type = "radio" name = "region" value = "경기"/> 경기
           <input type = "radio" name = "region" value = "인천"/> 인천  <input type = "radio" name = "region" value = "부산"/> 부산
           <input type = "radio" name = "region" value = "대구"/> 대구 <input type = "radio" name = "region" value = "대전"/> 대전<br>
            <input type = "radio" name = "region" value = "경남"/> 경남 <input type = "radio" name = "region" value = "전남"/> 전남
           <input type = "radio" name = "region" value = "충남"/> 충남  <input type = "radio" name = "region" value = "광주"/> 광주
           <input type = "radio" name = "region" value = "울산"/> 울산 <input type = "radio" name = "region" value = "경북"/> 경북<br>
            <input type = "radio" name = "region" value = "전북"/> 전북 <input type = "radio" name = "region" value = "충북"/> 충북
           <input type = "radio" name = "region" value = "강원"/> 강원  <input type = "radio" name = "region" value = "제주"/> 제주
           <input type = "radio" name = "region" value = "세종"/> 세종 <input type = "radio" name = "region" value = "전국"/> 전국<br>
( 추천 받고 싶은 지역을 하나 이상 체크하세요.) <br><br>


    <input type = "submit" value = " 완료 ">
        <input type = "reset" value = "취소">
        <br><br>

           </div>
</form>
</body>
</html>