.information-con{
    padding-bottom: 3rem;
    padding-top: 3rem;
}

.information-con h1{
    padding-top: 1rem;
    padding-bottom: 1rem;
}


.information-grid{

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, minmax(300px,auto));
    margin-top: 1rem;
    margin-bottom: 1rem;

}

.information-sub{
    margin-top: 1rem;
    margin-bottom :1rem;
}

.information-con font1{
    font-size: 10px;
}

.information-con font{
    font-size: 1.5px;
}

.information-con fontcolor{
    font-size: 2px;
    color: rgba(114, 97, 147, 0.71);
}





.information-con .point_box {
    margin-left: auto;
    margin-right:auto;
    padding-top:1.5rem ;
    width: 70%;
    height: 300px;
    top: 0;
    left: 0;
    background: linear-gradient(
            44deg, rgba(114, 97, 147, 0.64) 20%, rgba(227, 123, 124, 0.66) 60%, rgba(241, 214, 166, 0.68));
    border-radius: 13px;
}

.information-con .inner_box {

    background-color: rgba(255, 236, 236, 0.55);

    margin-right: 3%;
    margin-left: 3%;
    padding-top:1.5rem ;
       height: 250px;
     background-position: bottom center;
    background-repeat: no-repeat;
    background-size: 300%;
    border-radius: 13px;
    top: 0;
}

@media (min-width :700px) {
      .information-con font1{
        font-size: x-large;
    }
        .information-con fontcolor{
        font-size: large;
        color: rgba(114, 97, 147, 0.71);
    }

    .information-con font{
        font-size: large;
    }
}
