
/*
.mbti_Select{

    margin :1rem;
    font-size: 1em;
    width: 1.25em;
    height: 1.25em;
    vertical-align: middle;
    opacity: 100;
}
*/
.home_container .checkMBTI{
    /*padding-top: 5%;*/
    height: 100vh;
}
.home_container .sc-mbti{
    height: 70vh;
}
.td-mbti input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
    display: block;
    float: left;
    margin-right: -2em;
    opacity: 0;
    width: 1em;
    z-index: -1;
}

.home_container input[type=radio]:checked + span{
    color: #ffffff;
}
.user-mbti .mbtiSelect{
    display: none;
}

header.bg-primary.text-black.text-center{
    padding-top: 3rem;
    padding-bottom: 3rem;

    background-color : #bad6f1 !important;
}


#m_container{
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.select3:hover{
    color : rgba(255, 255, 255, 0.85);
}
.user-mbti label{
    padding-top: 20px;
    padding-bottom: 15px;
    width: 100%;
    color : #000;
    display: block;
     font-weight: 900;
    font-size: xxx-large;
}

.mb_ti-container font{
    font-size: xx-large;
    color: rgb(194, 158, 208);

}
