.tb-mbti {
    text-align: center;
    margin: 40px auto 34px auto;
}
/* 수정 중 - mbti 라디오 버튼 */
.mbtiSelect{
    opacity: 0;
}
label{
    font-size: 2rem;
    padding: 5px 10px 5px 0px;
    border: 1px solid #ccc;
    width: 65px;
    height: 65px;
}
.sc-mbti{
    padding:1rem;
}
input[type=radio]:checked + span{
    color:#0d6efd;
}
/**/


header.bg-primary.text-black.text-center{
    padding-top: 3rem;
    padding-bottom: 3rem;

    background-color : #bad6f1 !important;
}
.btn-rcm{
    color: #fff;
    background-color: #ffcf00!important;
    border-color: #ffffff!important;
    margin: 0px 6px;
    padding: 7px 27px;
    border-radius: 0rem;
}
.btn-rcm:hover{
    color: #ffcf00;
    background-color: #fff!important;
    border-color: #ffcf00!important;
}

#m_container{
    padding-top: 2rem;
    padding-bottom: 2rem;
}
