
.jobSelect{
    width:840px;
    justify-content: center;
    margin-right: -120px;

}

.jobSelect ul{
    list-style: none;
}
.jobSelect li{
    float: left;
    margin-left: 10px;
    margin-right: 10px;

    margin-bottom: 5px;
    width: 21%;
    font-size: 13px;
    text-align: left;
}
a{
    text-decoration: none;
    color: rgba(41, 144, 236, 0.93);
}