.jobSelect{
    width:840px;
    justify-content: center;
    margin-right: -120px;
}

.jobSelect ul{
    list-style: none;
}
.jobSelect li{
    float: left;
    margin-left: 10px;
    margin-right: 10px;

    margin-bottom: 5px;
    width: 21%;
    font-size: 13px;
    text-align: left;
}
a{
    text-decoration: none;
    color: rgba(41, 144, 236, 0.93);
}

.Jobselect{
    margin :1rem;
    font-size: 1em;
    width: 1.25em; /* 너비 설정 */
    height: 1.25em; /* 높이 설정 */
    vertical-align: middle;
    opacity: 100;
}

#mid_box {
    padding-top :3rem;
    padding-bottom: 3rem;
}