

/* Please ❤ this if you like it! */
/*@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans+KR&family=Poppins:400,500,600,700,800,900&display=swap');*/

/* Password Reset Modal */
.Password-Reset-modal .modal > section{
  height: 87%!important;
}
.Password-Reset-modal .modal > section > main{
  text-align: center!important;
}

.Password-Reset-modal > input {
    margin: 10px;
}
.Password-Reset-modal .modal > section > main > input[type="text"] {
  width: 40%;
  text-align: center;
  height: 30px;
}

/*.Password-Reset-modal > p{*/
/*  margin-top:10px!important;*/
/*  text-align: center;*/
/*}*/
/*.Password-Reset-modal .modal > section{*/
/*  height: 120%!important;*/
/*}*/

.Password-Reset-modal .modal section > header{
  padding : 16px 16px 16px 16px!important;
}
.Password-Reset-modal .send-email {
  padding: 6px 12px;
  color: #fff;
  background-color: #6c757d;
  border-radius: 5px;
  font-size: 13px;
  border: 0;
  margin-left: 10px;
}
/* -------------------- */

.LoginSignupform *{
  box-sizing: border-box !important;
}

.LoginSignupform .py-5{
  padding-top: 1.5rem;
  padding-bottom: 3rem;
}
.LoginSignupform .pb-3{
  padding: 1rem;
}

.LoginSignupform body{
	font-size: 15px;
	line-height: 1.7;
    color: #5c5c5c;  /*글자색깔*/
    letter-spacing: -1px;
	overflow-x: hidden;
    margin-bottom: 18%;
}
.LoginSignupform .container{

}
.LoginSignupform a {
	cursor: pointer;
  transition: all 200ms linear;
}
.LoginSignupform a:hover {
	text-decoration: none;
}
.LoginSignupform .link {
  color: #5c5c5c;
  text-decoration: none;
}
.LoginSignupform .link:hover {
  color: #dd7a7a;
}
.LoginSignupform p {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.7;
}
@media (max-width:700px){
  .LoginSignupform p {
    font-size: 11px;
  }
}
.LoginSignupform h4 {
 /* font-family: 'Poppins', 'IBM Plex Sans KR', serif;*/
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 20px;
}
.LoginSignupform h6 span{
  /*font-family: 'Poppins', 'IBM Plex Sans KR', serif;*/
  padding: 0 20px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
}
.LoginSignupform .section{
  position: relative;
  width: 100%;
  display: block;
}
.LoginSignupform .full-height{
  min-height: 100vh;
}
.LoginSignupform [class="checkbox"]:checked,
.LoginSignupform [class="checkbox"]:not(:checked){
  position: absolute;
  left: -9999px;
}
.LoginSignupform .checkbox:checked + label,
.LoginSignupform .checkbox:not(:checked) + label{
  position: relative;
  display: block;
  text-align: center;
  width: 60px;
  height: 16px;
  border-radius: 8px;
  padding: 0;
  margin: 10px auto;
  cursor: pointer;
  background-color:  #db797e; /*위에버튼*/
}
.LoginSignupform .checkbox:checked + label:before,
.LoginSignupform .checkbox:not(:checked) + label:before{
  position: absolute;
  display: block;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  color: rgb(255, 233, 233);
  background-color: #f69494; /*위쪽버튼 원형 색*/
  font-family: 'unicons';
  content: '\eb4f';
  z-index: 20;
  top: -10px;
  left: -10px;
  line-height: 36px;
  text-align: center;
  font-size: 24px;
  transition: all 0.5s ease;
}
.LoginSignupform .checkbox:checked + label:before {
  transform: translateX(44px) rotate(-270deg);
}


.LoginSignupform .card-3d-wrap {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 90%;
  max-width: 550px;
  height: 500px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  perspective: 800px;
  margin-top: 45px;

}
.LoginSignupform .card-3d-wrapper {
  width: 100%;
  height: 100%;
  position:absolute;    
  top: 0;
  left: 0;
  background: linear-gradient(44deg, rgba(114, 97, 147, 0.64) 20%, rgba(227, 123, 124, 0.66) 60%, rgba(241, 214, 166, 0.68));
  border-radius: 13px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: all 600ms ease-out;
}
.LoginSignupform .card-front, .card-back {
  width: 98%;
  height: 98%;
  background-color: #ffecec;  /*네모색*/
  margin-left: 1%;
  margin-top: 1%;
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 300%;

  position: absolute;
  border-radius: 13px;

  top: 0;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
.LoginSignupform .card-back {
  transform: rotateY(180deg);
}


.LoginSignupform .checkbox:checked ~ .card-3d-wrap .card-3d-wrapper {
  transform: rotateY(180deg);
}
.LoginSignupform .center-wrap{
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  padding: 0 35px;
  top: 50%;
  left: 0;
  transform: translate3d(0, -50%, 35px) perspective(100px);
  z-index: 20;
  display: block;
}

.LoginSignupform .form-group{
  position: relative;
  display: block;
    margin: 0;
  margin-top: 0.5rem !important;
    padding: 0;
}

.LoginSignupform input.form-style {

}
.LoginSignupform input.form-style, .LoginSignupform select.form-style {
  font-family: 'Poppins', 'IBM Plex Sans KR', serif;
  /*padding: 13px 20px;*/
  padding-left: 55px;
  height: 48px;
  width:100%;
  font-weight: 500;
  border-radius: 4px;
  font-size: 13px;
  line-height: 22px;
  letter-spacing: 0.5px;
  outline: none;
  color: rgba(255, 255, 255, 0.89);
  background-color: rgba(221, 122, 122, 0.87);   /*입력창 색*/
  border: none;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  box-shadow: 0 4px 8px 0 rgba(21,21,21,.2);
  letter-spacing: -0.5px;
}
.LoginSignupform .form-style:focus,
.LoginSignupform .form-style:active {
  border: none;
  outline: none;
  box-shadow: 0 4px 8px 0 rgba(21,21,21,.2);
}
.LoginSignupform .input-icon {
  position: absolute;
  top: -1px;
  left: 12px;
  height: 48px;
  font-size: 24px;
  line-height: 48px;
  text-align: left;
  color:   #705f90; /*입력창 아이콘*/
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.LoginSignupform .form-group input:-ms-input-placeholder  {
  color: #c4c3ca;
  opacity: 0.7;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.LoginSignupform .form-group input::-moz-placeholder  {
  color: #c4c3ca;
  opacity: 0.7;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.LoginSignupform .form-group input::-webkit-input-placeholder  {
  color: #ffffff;
  opacity: 0.7;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.LoginSignupform .form-group input:focus:-ms-input-placeholder  {
  opacity: 0;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.LoginSignupform .form-group input:focus::-moz-placeholder  {
  opacity: 0;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.LoginSignupform .form-group input:focus:-moz-placeholder  {
  opacity: 0;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.LoginSignupform .form-group input:focus::-webkit-input-placeholder  {
  opacity: 0;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.LoginSignupform .selectMbtiDiv{
  text-align: left;

}
.LoginSignupform .selectMbti{
  display: inline;
  width: 65% !important;

}
.LoginSignupform .goMBTI{
  display: inline;
  border: transparent 2px solid;
  border-radius: 4px;
  background-color: #dd7a7a73;
  margin-left: 2%;
  box-shadow: 0 4px 8px 0 rgba(21,21,21,.2);
  width: 32%;
  float: right;
  height: 46px;
  cursor: pointer;
  font-size: 13.5px;
  letter-spacing: -0.5px;
  color: rgba(0, 0, 0, 0.57);
  white-space: nowrap;
}
.LoginSignupform .goMBTI:hover{
  background-color: rgba(112, 95, 144, 0.61);
  color:white;
  transition: 0.4s ease-in-out;
}

.LoginSignupform .btn{
  font-family: 'Poppins', 'IBM Plex Sans KR', serif;
  border-radius: 4px;
  height: 44px;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  -webkit-transition : all 200ms linear;
  transition: all 200ms linear;
  padding: 0 30px;
  letter-spacing: 1px;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  text-align: center;
  border: none;
  background-color:   #f69494d9 ; /*Login*/
  color: #ffffff;
  box-shadow: 0 8px 24px 0 rgba(255,235,167,.2);
  margin-top: 15px;
  margin-bottom: 15px;
}
.LoginSignupform .btn:active,
.LoginSignupform .btn:focus{
  background-color:#dd7a7a;
  color:  #dd7a7a;
  box-shadow: 0 8px 24px 0 rgba(16,39,112,.2);
}
.LoginSignupform .btn:hover{
  background-color: rgba(114, 96, 144, 0.75);  /*submit버튼에 마우스 갖다대면 바뀌는 색*/
  color: lightyellow;
  box-shadow: 0 8px 24px 0 rgba(16,39,112,.2);
}




.LoginSignupform .logo {
	position: absolute;
	top: 30px;
	right: 30px;
	display: block;
	z-index: 100;
	transition: all 250ms linear;
}
.LoginSignupform .logo img {
	height: 26px;
	width: auto;
	display: block;
}