#mb_ti-container{
    width: 100%;
    height: 750px;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

#per_son-container{
    width: 100%;
    height: 450px;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

#rating-container{
    width: 100%;
    height: 750px;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: #bad6f1;
}