#home-mbti-rcm{
    height: 80vh;
    padding-top: 10%;
}

.recommend_con{
    padding-top: 3rem;
    padding-bottom: 1rem;
}

.recommend_con2{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.recommend_con3{
    padding-top: 1rem;

}

.recommend_conDiv font2{
    font-size: xx-large;
    color: rgb(228, 211, 255);
}

.recommend_conDiv font3{
    font-size: xx-large;
    color: rgb(255, 255, 255);
}
 .recommend_conDiv font4{
            font-size: medium;
            color: rgb(255, 255, 255);
        }




.recommend_con ul{
    display: block;
    list-style-type: disc;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}

.recommend_con li{
     list-style: none;
    float: left;
    margin-left: 10px;
    margin-right: 10px;

    margin-bottom: 5px;
    width: 21%;
    font-size: 11px;
    text-align: left;
    color : #ffffff;
}

.recommend_con .rcm-grid-thead {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-column-gap: 1.5%;
    grid-row-gap: 6%;
    justify-content: center;
    align-items: center;
    font-size: 14.5px;
    letter-spacing: -0.9px;
    font-weight: 600;
    white-space: nowrap;
}

.recommend_con .recommend_job {
    /*padding-top: 20px;*/
    border-radius: 70%;
    height: 70px;
    vertical-align: middle;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    /*adding-top: 1.5rem;*/
    width: 70%;
    top: 0;
    left: 0;
     background-color: rgb(241 208 208);


      word-break: keep-all;
            white-space: break-spaces;

            /*border: solid;
            color: #ffffff;*/

            box-shadow: 3px 3px 5px;

}
.recommend_con .inner {
    padding-top: 20px;
    border-radius: 70%;
    height: 40px;
    vertical-align: middle;
    margin-bottom: 5px;
    margin-right: 3%;
    margin-left: 3%;
    margin-top: -27%;
    margin-bottom: 3%;
    white-space: break-spaces;
    word-break: keep-all;
    padding-top: 1.5rem;
    top: 0;
    left: 0;
    background-color: rgb(241 208 208);
}
.recommend_con .textbox{
    padding-top: 1em;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    color : #000000;
    font-size: small;
}


@media (min-width: 750px) {
        .recommend_con .recommend_job {
            /*padding-top: 20px;*/
            border-radius: 70%;
            height: 90px;
            vertical-align: middle;
            margin-bottom: 5px;

            margin-left: auto;
            margin-right: auto;
            /*padding-top: 1.5rem;*/
            width: 70%;
            top: 0;
            left: 0;
            background-color: rgb(241 208 208);


            word-break: keep-all;
            white-space: break-spaces;

            /*border: solid;
            color: #ffffff;*/

            box-shadow: 3px 3px 5px;



        }

        .recommend_con .inner {

            padding-top: 20px;
            border-radius: 70%;
            height: 60px;
            vertical-align: middle;
            margin-bottom: 5px;

            margin-right: 3%;
            margin-left: 3%;
            margin-top: -20%;
            margin-bottom: 3%;

            padding-top: 1.5rem;

            top: 0;
            left: 0;

            background-color: rgba(255, 236, 236, 0.55);

            word-break: keep-all;
            white-space: break-spaces;


        }



        .recommend_con .rcm-grid-thead {
            display: grid;
            grid-template-columns: 130px 130px 130px 130px 130px;
            grid-column-gap: 2.5%;
            grid-row-gap: 6%;
            justify-content: center;
            align-items: center;
            font-size: 14.5px;
            letter-spacing: -0.9px;
            font-weight: 600;
            white-space: nowrap;
        }

        .recommend_con .JobImg {
            width: 75px;
            height: 75px;
        }

        .recommend_conDiv font2{
            font-size: xxx-large;
            color: rgb(228, 211, 255);
        }

        .recommend_conDiv font3{
            font-size: xxx-large;
            color: rgb(255, 255, 255);
        }

        .recommend_conDiv font4{
            font-size: large;
            color: rgb(255, 255, 255);
        }

}