#my_container {

    width : 100%;
    height: 520px;
    padding-top: 3rem;
    padding-bottom: 5rem;
    /*background-color : #ffffff;*/

}

#my_container2 {
    width : 100%;
    padding-top: 3rem;
    padding-bottom: 5rem;

}

#my_container3{
    width : 100%;
    padding-top: 3rem;
    padding-bottom: 5rem;
}

.home_container {

    width : 100%;
    height: 100vh;
    /**height: 490px;**/
    padding-top: 3rem;
    padding-bottom: 3rem;

   /* background-image: url("../img/banner.jpg");*/
     background-image: linear-gradient(
    45deg, #726193 20%, #e37b7c 60%, #ffe4b4);
     background-repeat : no-repeat;
    background-size : cover;

}

#password_con-1 {
      padding-top: 1rem;
    padding-bottom: 1rem;
}

#password_con-2{

    padding-bottom: 1rem;
    margin: auto;
}


.mid_box{
    width : 100%;

    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.mid_box2{
    width : 100%;

    padding-top: 1rem;
    padding-bottom: 2rem;
}

#menu_box{
    width : 100%;

    padding-top :3rem;
    padding-bottom : 2rem;


}
.my_container {

    width : 100%;
    height: 450px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color : #bad6f1;

}

.my-page_menu {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

#con_mar {
   padding-top: 1rem;
    padding-bottom: 1rem;
}

.submenu{
      padding-right: 0.25rem !important;
  padding-left: 0.25rem !important;
  color: #373b3e;
}

#goodBadList{
    padding-top: 5%;
    padding-bottom: 10%;
}