#my_container {

    width : 100%;
    height: 520px;
    padding-top: 3rem;
    padding-bottom: 5rem;
    /*background-color : #ffffff;*/

}

#my_container2 {
    width : 100%;
    padding-top: 3rem;
    padding-bottom: 5rem;

}

#my_container3{
    width : 100%;
    padding-top: 3rem;
    padding-bottom: 5rem;
}

.home_container {

    width : 100%;
    /*height: 110vh;*/
    /**height: 490px;**/
    padding-top: 3rem;
    padding-bottom: 3rem;

   /* background-image: url("../img/banner.jpg");*/
     background-image: linear-gradient(
    45deg, #726193 20%, #e37b7c 60%, #ffe4b4);
     background-repeat : no-repeat;
    background-size : cover;

}

#password_con-1 {
      padding-top: 1rem;
    padding-bottom: 1rem;
}

#password_con-2{

    padding-bottom: 1rem;
    margin: auto;
}


.mid_box{
    width : 100%;

    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.mid_box2{
    width : 100%;

    padding-top: 1rem;
    padding-bottom: 2rem;
}

#menu_box{
    width : 100%;

    padding-top :2rem;
    padding-bottom : 2rem;


}
.my_container {

    width : 100%;
    height: 450px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color : #bad6f1;

}

.my-page_menu {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

#con_mar {
   padding-top: 1rem;
    padding-bottom: 1rem;
}

.submenu{
      padding-right: 0.25rem !important;
  padding-left: 0.25rem !important;
  color: #373b3e;
    text-decoration: none;
}

#goodBadList{
    padding-top: 5%;
    padding-bottom: 10%;
}


/*마이페이지*/
#mypage{
    margin-top: 3%;
    margin-bottom: 15%;
}
#mypage .userInfo{
    margin-top: 1%;
    display: inline-table;
    width: 60%;
    border-top: black 2px double;
    border-bottom: black 2px double;
    height: 140px;
}
#mypage .userInfo .username{
    width: 45%;
    font-size: 30px;
    font-weight: 500;
}
#mypage .userInfo .useremail{
    padding-left: 12%;
    text-align: left;
}
#mypage .userInfo .mbti{
    padding-left: 12%;
    text-align: left;
}


#mypage .mypageTable{
    display: inline-table;
    width: 70%;
}
#mypage .mypageTableRow{
    /*display: table-row;*/
    height: 40px;
}
#mypage .mypageTableCell{
    display: table-cell;
    font-size: 17px;
    font-weight: 500;
    width: 20%;
}
#mypage .mypageTable span{
    cursor: pointer;
}
#mypage .mypageTable span:hover{
    color: rgb(189, 89, 91);
    transition: 0.3s ease-in-out;
}
#mypage #mypageDetail{
    margin-top: -1%;
    border-top: black 1px dot-dot-dash;
}
#mypage .clicked{
    color: rgb(189, 89, 91);
}
