#my_container {

    width : 100%;
    padding-top: 3rem;
    padding-bottom: 5rem;
    /*background-color : #ffffff;*/

}

.my_container2 {
    width : 100%;
    /*padding-top: 3rem;*/
    /*padding-bottom: 5rem;*/

    margin :auto;
}

#my_container3{
    width : 100%;
    padding-top: 3rem;
    padding-bottom: 5rem;
}

.main .home_container {

    width : 100%;
    /*height: 110vh;*/
    /**height: 490px;**/
    /*padding-top: 3rem;*/
    padding-bottom: 3rem;

   /* background-image: url("../img/banner.jpg");*/
     background-image: linear-gradient(
    45deg, #726193 20%, #e37b7c 60%, #ffe4b4);
     background-repeat : no-repeat;
    background-size : cover;

}

#password_con-1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 0px;
}

.password_con-2{
    /*padding-bottom: 1rem;*/
    margin: auto;
    padding:20px;
    text-align: center;
}

.password_con-2 table{
    text-align: left;
    font-size: 17px;
    margin-right: auto;
    margin-left: auto;
    height: 140px;
    text-align: center;
}
.password_con-2 .password-input {
    border: 0;
    height: 2.5vw;
    background: #ffffff00;
    border-bottom: solid;
    border-bottom-color: #cf7780;
}

.mid_box{
    width : 100%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.mid_box2{
    width : 100%;

    padding-top: 1rem;
    padding-bottom: 2rem;
}

#menu_box{
    width : 60%;
    /*padding-top :2rem;*/
    /*padding-bottom : 2rem;*/
    margin: 4rem auto 0;
    background-color: #fce0e0;
    border-radius: 1rem 1rem 0 0;
}
@media (max-width: 768px) {
    #menu_box{
        width: 90%;
    }
}
.my_container {

    width : 100%;
    height: 450px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color : #bad6f1;

}

.my-page_menu {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

#con_mar {
   padding-top: 1rem;
    padding-bottom: 1rem;
}

.submenu{
      padding-right: 0.25rem !important;
  padding-left: 0.25rem !important;
  color: #373b3e;
    text-decoration: none;
}

#goodBadList{
    padding-top: 5%;
    padding-bottom: 10%;
}


/*마이페이지*/
#mypage{
    margin-top: 3%;
    margin-bottom: 15%;
}
#mypage .userInfo{
    margin-top: 1%;
    display: inline-table;
    width: 60%;
    /*border-top: black 2px double;*/
    /*border-bottom: black 2px double;*/
    height: 140px;
    background-color: rgba(249, 196, 196, 0.4);
    border-radius: 1rem;
}
@media (max-width: 768px) {
    #mypage .userInfo{
        width:90%;
    }
}
#mypage .userInfo .username{
    width: 45%;
    font-size: 25px;
    font-weight: 500;
}
#mypage .userInfo .useremail{
    /*padding-left: 7%;*/
    /*text-align: left;*/
}
#mypage .userInfo .mbti{
    /*padding-left: 7%;*/
    /*text-align: left;*/
}
#mypage .userInfo .password{
    /*padding-left: 7%;*/
    /*text-align: left;*/
}
@media (max-width: 768px) {
    #mypage .userInfo .useremail{
        font-size:13px;
    }
    #mypage .userInfo .mbti{
        font-size:15px;
    }
    #mypage .userInfo .username {
        font-size: 20px;
    }
}
#mypage .userInfo .btn-mbti-edit {
    padding: 6px 12px;
    color: #ffffff;
    background-color: #eca1a2;
    border-radius: 5px;
    font-size: 13px;
    border: 0;
    margin-left: 10px;
    cursor:pointer;
}
#mypage .userInfo .btn-password-edit {
    padding: 6px 12px;
    color: #ffffff;
    background-color: #eca1a2;
    border-radius: 5px;
    font-size: 13px;
    border: 0;
    cursor:pointer;
}


#mypage .mypageTable{
    display: inline-table;
    width: 80%;
    margin-top: 10px;
}
#mypage .mypageTableRow{
    /*display: table-row;*/
    height: 40px;
}
#mypage .mypageTableCell{
    display: table-cell;
    font-size: 17px;
    font-weight: 500;
    width: 20%;
}
#mypage .mypageTable span{
    cursor: pointer;
}
#mypage .mypageTable span:hover{
    color: rgb(189, 89, 91);
    transition: 0.3s ease-in-out;
}
#mypage #mypageDetail{
    margin-top: -1%;
    border-top: black 1px dot-dot-dash;
    background-color: #fce0e0;
    width: 60%;
    margin: auto;
    border-radius: 0 0 1rem 1rem;
}
@media (max-width: 768px) {
    #mypage #mypageDetail {
        width: 90%;
    }
}
#mypage .clicked{
    color: rgb(189, 89, 91);
    font-weight: bold;
}

#goodBadList .goRecommend{
    color: #ffffff;
    background-color: rgba(227, 123, 124, 0.68);
    margin: 0px 6px;
    padding: 1px 21px;
    border-radius: 0rem;
    font-size: 16px;

    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    border-radius: 7px;
    cursor: pointer;
    border: 0;
    height: 3.125em;
    letter-spacing: -1px;
    margin-top: 3%;
    font-family: 'GowunDodum-Regular';
    font-weight: bold;
    letter-spacing: -0.3px;
}
#goodBadList .goRecommend:hover {
  color:#1d253b;
  background-color: rgba(189, 89, 91, 0.68);
}

.password_con-2 .button_primary{
    color: #ffffff;
    background-color :  #cf7780;

    border-radius: 3px;
    border: 0;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    height: 3.125em;
    letter-spacing: 0.225em;
    line-height: 3.125em;
    max-width: 30em;
    padding: 0 1.75em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.password_con-2 .button_box{
    padding-top: 5rem;
}

.my_container2 .point_box {
    margin-left: auto;
    margin-right:auto;
    /*width: 50%;*/
    top: 0;
    left: 0;
    background: linear-gradient(
            44deg, rgba(114, 97, 147, 0.64) 20%, rgba(227, 123, 124, 0.66) 60%, rgba(241, 214, 166, 0.68));
    /*border-radius: 13px;*/
}

.my_container2 .inner_box {

    background-color: rgba(255, 236, 236, 0.55);

    margin-right: 3%;
    margin-left: 3%;
    margin-top: 3%;
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: 300%;

    border-radius: 13px;
    top: 0;
}

/* 모달 */

.Mbti-Change-modal .modal > section{
  height: 34%!important;
}
.Mbti-Change-modal .modal > section > main{
  text-align: center!important;
}

.Mbti-Change-modal .send-mbti{
  padding: 6px 12px;
    color: #fff;
    background-color: #eca1a2;
    border-radius: 5px;
    font-size: 13px;
    border: 0;
    margin-left: 10px;
}

.Password-Change-modal .modal > section{
  height: 64%!important;
}
.Password-Change-modal .modal > section > main{
    padding : 0!important;
}

.img-mbti{
    width:100px;
}