.mb_ti-container{
    width: 100%;
    padding-top: 5%;
    padding-bottom: 20%;
    border: 0;
    color: #000;
}
.per_son-container{
    width: 100%;
    padding-top: 5%;
    padding-bottom: 20%;
      border: 0;
    color: #000;
}


.per_son-container font{
     font-size: xx-large;
    color: rgb(194, 158, 208);
}
.mbtiTitle, .personalTitle{
    margin-top: 3%;
    margin-bottom: 3%;
    font-size: 32px;
    word-break: keep-all;
}

.con{
    padding-bottom: 1em;
    padding-top: 1em;
}

#td-per input{
    color : #000;
}

/* mbti 선택 버튼 */
.mb_ti-container #tb-mbti {
    text-align: center;
    display:grid;
    grid-template-columns: 74px 74px 74px 74px;
    justify-content: center;
}
/* 수정 중 - mbti 라디오 버튼 */
.mb_ti-container .mbti_Select{
    font-size: 18px;
    border: #f69494d9 1.5px solid;
    padding: 5px;
    cursor: pointer;
}
.areasiTable input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
    display: block;
    float: left;
    margin-right: -2em;
    opacity: 0;
    width: 1em;
    z-index: -1;
}
@media (min-width: 610px){
    .mb_ti-container .mbti_Select {
        font-size: 22px;
    }
    .mb_ti-container #tb-mbti {
        grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10%;
    }
}
.mb_ti-container .mbti_Select:hover {
    background-color: #f69494d9;
    transition: 0.3s ease-in-out;
    color:white
}
.mb_ti-container .checked{
    background-color: #f69494d9;
    color:white;
}
.selectedArea{
    margin-bottom: 10px;
}
.selectedAreaFont{
    border: transparent 2px solid;
    background-color: rgba(246, 148, 148, 0.31);
    border-radius: 8px;
    color: rgba(21, 21, 21, 0.85);
    padding:3px;
    margin-right: 3px;
}

#User-mbti td{
    font-size: 1.5rem;
    text-align: center;
    color : #000;
    margin: 0.5em 0 0.5em 0;
    border: 0;
}
.areaSelectDiv .select, .areaSelectDiv .areasiTable:hover{
  background-color:#f69494d9;
  transition: background-color .5s ease-in-out;
}


/* 지역 선택 버튼 */

.areaSelectDiv{
    justify-content: center;
}
.areaSelectDiv #td-areasi{
    width :90%;
    border-top: #E58A8AD8 2px solid;
    white-space: nowrap;
    overflow-x: scroll;
}
.areasiTable label{
    padding-top: 20px;
    padding-bottom: 15px;
    width: 100%;
    color : #000;
    display: block;
    font-size:18px;
    margin: 0px 3px;
}

.areaSelectDiv ::-webkit-scrollbar{
    height: 6px;
}
.areaSelectDiv ::-webkit-scrollbar-track{
    background-color: rgba(246, 148, 148, 0.12);
}
.areaSelectDiv ::-webkit-scrollbar-thumb {  		/*  스크롤  */
    background-color: rgba(229, 138, 138, 0.85);
    border-radius:30px;
}
.areaSelectDiv ::-webkit-scrollbar-button:start:decrement,
.areaSelectDiv ::-webkit-scrollbar-button:end:increment {
					/*  스크롤의 화살표가 포함된 영역   */
  display:block;
  height:8px;
  background-color: rgba(246, 148, 148, 0.38);
}

.areaSelect{
    margin-top: 15px;
    display: grid;
    grid-template-columns: 15% 15% 15% 15% 15% 15%;
    grid-row-gap: 8px;
    justify-content: center;
}
.areaSelect .areaSelectGu{
    /*float: left;
    width: 15%;*/
    margin-left: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    font-size: 17px;
    text-align: center;
    letter-spacing: -0.6px;
    color : #f69494d9 ;
}
.areaSelect .areaSelectGu:hover{
    color: rgba(69, 69, 69, 0.85);
}
#td-areasi span{
    font-size: 21px;
    margin-right: 5px;
}
@media (max-width: 700px){
    .areaSelect{
        grid-template-columns: 23% 23% 23% 23%;
        grid-row-gap: 8px;
    }
    .areaSelect .areaSelectGu{
        font-size: 16px;
        letter-spacing: -0.7px;
    }
    #td-areasi span{
        font-size: 18px;
        margin-right: 3px;
    }
}
@media (max-width: 500px){
    .areaSelect{
        grid-template-columns: 31% 31% 31%;
        grid-row-gap: 8px;
    }
    .areaSelect .areaSelectGu{
        font-size: 15px;
        letter-spacing: -0.7px;
    }
}

.mb_ti-container a{
    text-decoration: none;
    color: #f69494d9 ;
}

#per_son-container a{
    text-decoration: none;
    color: #f69494d9 ;
    border : none;
}

.per_son-container .button_primary, .mb_ti-container .button_primary{
    background-color: #cf7780;
    color : #ffffff ;
    font-family: 'IM_Hyemin-Bold';
    font-size: 18px;
    border-radius: 3px;
    border: 0;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    letter-spacing: 0.1px;
    line-height: 45px;
    max-width: 30em;
    padding: 0 30px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.per_son-container .button_primary:hover, .mb_ti-container .button_primary:hover{
    background-color: #efa2a2;
    transition: .3s ease-in-out;
}

.per_son-container input[type=radio]:checked + span {
    font-size: x-large;
    font-weight: 600;
    color: #000000;
}
