#menubar {

    font-size: 0.9em;
    width : 100%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

}

#menu-inner {

  padding-top: 0.2rem;
    padding-bottom: 0.2rem;

}

#menubar .navbar-toggler {
  font-size: 80%;
  padding: 0.8rem;
}

.hamburger-icon {
  width: 50px;
  height: 30px;
  position: fixed;
  z-index: 4;
  left: 50%;
  top: 30%;
  cursor: pointer;
}

.menubar-color {
  --bs-bg-opacity: 1;
  background-color: #cbc6c6;
}

.menubar-menu {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.menubar-toggler {
    padding: 0.2rem 0.7rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 0.125rem solid transparent;
    border-radius: 0.5rem;
    transition: box-shadow 0.15s ease-in-out;
}

.menubar-nav {
  display: flex;
  flex-direction: row;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.margin {
  margin-left: auto;
    margin-right: auto;
}