@font-face {
    font-family: 'IM_Hyemin-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/IM_Hyemin-Bold.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}

.App {
  text-align: center;
  height: 100%;

}

html, body{
  height: 100%;
  width:100%;
  margin:0;
  padding:0;
  font-family: 'IM_Hyemin-Bold';

}

.wrap{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.main{
  flex:1;
  background-color: rgba(254, 242, 241, 0.87);
}

input[type="text"]{
    font-family: "IM_Hyemin-Bold";
}

input[type="button"]{
    font-family: "IM_Hyemin-Bold";
}
