.App {
  text-align: center;
  height: 100%;

}

html, body{
  height: 100%;
  width:100%;
  margin:0;
  padding:0;
}

.wrap{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.main{
  flex:1;
}


