.areaSelect{
    width:840px;
    justify-content: center;
    padding-bottom: 100px;

}

.areaSelect ul{
    list-style: none;
}
.areaSelect li{
    float: left;
    margin-left: 10px;
    margin-bottom: 5px;
    width: 15%;
    font-size: 13px;
    text-align: left;
}
a{
    text-decoration: none;
    color: rgba(41, 144, 236, 0.93);
}